{% extends "homepage.html" %}

{% block titulo %}
    Perfil - {{ usuario.username }}
{% endblock %}

{% block body %}
<body>
{% include "navbar.html" %}

<div class="container">
{% if form %}
  <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h2>{{ usuario.username }} - Enviar foto</h2>

      <div class="bloco-arquivo">
        <label for="foto" class="botao-arquivo">
            Escolher arquivo
            {{ form.foto(class="input-arquivo", id="foto") }}
        </label>
        <span id="imagem-arquivo" class=""></span>
      </div>
      {{ form.botao_confirmacao(class="botao-login") }}
  </form>

    <div class="conteudo">
    {% for foto in usuario.fotos_compartilhadas %}
        <a href="{{ url_for('editar', id_foto_compart = foto.id) }}" class="bloco-imagem">
            <img src="{{ url_for('static', filename = 'fotos_posts/{}'.format(foto.fotos.imagem)) }}">
        </a>
    {% endfor %}
    </div>

{% else %}
    <div class="bloco-add-img">
        <h2>{{ usuario.username }}</h2>
    </div>

    <div class="conteudo">
    {% for foto in usuario.fotos_compartilhadas %}
        <a href="{{ url_for('visualizarperfil', id_foto_compart = foto.id) }}" class="bloco-imagem">
            <img src="{{ url_for('static', filename = 'fotos_posts/{}'.format(foto.fotos.imagem)) }}">
        </a>
    {% endfor %}
    </div>


{% endif %}


</div>


  <script>
      let input = document.getElementById("foto");
      let imagemArquivo = document.getElementById("imagem-arquivo");

      input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];

        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;
      });
  </script>
</body>
{% endblock %}

